<% if logged_in? %>
  <div id="main">
          <section id="List">
              <h2>業務管理システム一覧</h2>
              <ul>
                  <li>
                     <%= link_to '業務内容・状況', 'business_statues', class: "btn btn-primary" %>
                  </li>
                  <li>
                     <a href="../../../../業務報告/realtime-chat/index.html">業務報告</a>
                  </li>
                  <li>
                     <%= link_to '顧客別業務内容・状況', '/companies', class: "btn btn-primary" %>
                  </li>
              </ul>
          </section>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Business management system</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

