<% if logged_in? %>
  <div id="main">
          <section id="List">
              <h2>業務管理システム一覧</h2>
              <ul>
                  <p>
                     <%= link_to '業務内容・状況一覧', 'business_statues', class: "btn btn-primary" %>
                  </p>
                  <p>
                    <%= link_to "業務報告システム", "https://f9d2fcc466b64f0cb889988b55759b37.vfs.cloud9.us-east-1.amazonaws.com/_static/realtime-chat/index.html", class: "btn btn-primary" %>
                  </p>
              </ul>
          </section>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Business management system</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

